:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;

}


.filter-bar {
    display: flex;
    flex-direction: column;
    background: #C0C0C0;
    width: 300px;
    z-index: 1;
    margin-top: -65px;
    min-height: 100vh;
    font-size: 110%;
    font-weight: 600;
}


.price-filter {
    margin-top: 100px;
    margin-left: 24px;
}


.prices {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    width: 300px;
}

.after-price {
    width: 40%;
    margin-right: 5px;
    box-sizing: border-box;
    border-radius: 10px;
    border: None;
    background: #DCDCDC;
    transition: 0.5s;
    padding-left: 10px;
    padding-right: 10px;
}

.before-price {
    width: 40%;
    margin-left: 5px;
    box-sizing: border-box;
    border-radius: 10px;
    border: None;
    background: #DCDCDC;
    transition: 0.5s;
    padding-left: 10px;
    padding-right: 10px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none; // Yeah, yeah everybody write about it
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}