.container-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    min-height: calc(100% - 65px - 50px);
}

.product {
    width: auto;
    height: auto;
    margin: 20px;

}

.product-page-card {
    display: flex;
    height: 360px;
    width: 100%;
    background: #C0C0C0;
    border-radius: 21px;
    box-shadow: 0px 0px 10px 0.1px gray;
}


.div-info {
    display: inline-block;
    width: 400px;
    height: 360px;
    user-select: none;
    position:relative;

}
.div-image {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 21px;

    width: 360px;
    height: 360px;
    box-shadow: 1px 0px 7px 0.1px gray;
    z-index:1;
}
.good-page-image {
    z-index:1;
    width: 349px;
    height: 349px;
    border-radius: 30px;
}

.order-and-cart {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    background: #C0C0C0;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 11px;
    box-shadow: 0px 0px 10px 0.1px gray;

}




.cart {
    position: absolute;
    background: #C0C0C0;
    border-radius: 11px;
    width: 180px;
    right: 0;
    transition: 0.5s;
    border-radius: 0px 11px 11px 0px;
    box-shadow: 0px 0px 5px 0.1px gray;
}

.cart:hover {
    background: #A9A9A9;
    box-shadow: 0px 0px 7px 0.5px gray;
    transition: all 0.5s ease
}
.cart:active {
    background: #808080;
    transition: all 0.1s ease
}

.order {
    position: absolute;
    width: 150px;
    background: white;
    border-radius: 11px;
    box-shadow: 1px 0px 7px 0.1px gray;
    z-index:1;
    left: 0;
    transition: 0.5s;
}

.order:hover {
    background: #F5F5F5;
    box-shadow: 0px 0px 10px 0.5px gray;
    transition: all 0.5s ease

}
.order:active {
    background: #D3D3D3;
    transition: all 0.1s ease
}
.button-order {
    font-weight: 600;
    width: 150px;
    height: 40px;
    background: transparent;
    border: none;
    font-size:89%;
}
.button-cart {
    font-weight: 600;

    width: 180px;
    height: 40px;
    background: transparent;
    border: none;
    margin-left: 5px;
    font-size:89%;
}

.back-div {
    height: 50px;
    display: flex;
    align-items: center;
    position: fixed;
}
.back {
    margin-left: 15px;
    width: 200px;
    display: inline-block;
    font-size:100%;
    font-weight: 600;
    transition: 0.5s;
    background: transparent;
    border: none;

}
.back:hover {
    transition: all 0.2s ease;
    font-size:101%;
}


.good-title {
    font-size:151%;
    list-style: none;
    margin: 0;
    font-weight: 600;
}
.good-characteristic {
    font-size:101%;
    list-style: none;
    margin: 0;
    margin-left: 65px;
}
.good-price {
    font-size:151%;
    list-style: none;
    margin: 0;
    font-weight: 600;
}






.div-info-title {
    position:absolute;
    top:0;
    width: 90%;


}
.div-info-characteristic {
    white-space: nowrap;
    position:absolute;
    top:50%;
    left:28%;
    transform:translate(-50%, -50%);
    line-height: 24px;
    width: 350px;
    height: 300px;
    margin-top: 10px;


}
.div-info-price {
    position:absolute;
    bottom: 0;
    width: 90%;
}
